name: Deploy to GCP VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Execute Remote Commands via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            git clone https://github.com/RushikeshHarne/cat.git
            cd /home/rushikeshharne3097/cat
            git pull origin main
            sudo apt install apache2
            sudo cp /home/rushikeshharne3097/cat/index.html /var/www/html/index.html
           # npm install --production  # Example for Node.js
           # pm2 restart all           # Example restart command
          
